$color-app-theme: #0079ba; //Core theme
$color-pure-white: #ffffff; //white
$color-yellow: #ffea2a; //yellow
$color-default: #000000; //black
$color-grey: #f7f9f9; //grey
$color-light-blue: #bedeef; //light-blue
